[Unit]
Description=LED controller for 3D printer's strip

[Service]
ExecStart=minileds -c /etc/minileds.conf
Environment="MQTT_HOST=trappe.local"
Restart=on-success
Type=simple

[Install]
WantedBy=multi-user.target
